<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta property="og:image" content="https://cdn.shirt.rip/play.jpg">
    <meta property="og:type" content="video.other">
    <meta property="og:video:url"content="{{url}}">
    <meta property="og:video:width" content="1280">
    <meta property="og:video:height" content="720">
    <meta property="theme-color" content="#C74600">
</head>

<!--
<body bgcolor="#303030">
    <video controls name="media" width="1280" height="720">
        <source src="{{url}}"
            type="video/mp4">
    </video>
</body>
-->

<script>
    location.replace("{{media_url}}")
</script>

</html>